h1 {
    color: #ffffff;
    font-family: Georgia;
    font-size: 90px;
    text-align: center;
    margin-top: 10;
    margin-bottom: .125em;
    text-shadow: 10px 10px 10px #18f54f;
     }
  body{
  background-color: black;
  font-size: 22px;
  color: rgb(229, 245, 229);
  text-align: center;
  }
  a {
  font-family: Georgia;
  font-weight: 800;
  font-size: 20px;
  color: #18f54f;
  }
  h2 {
    color: #ffffff;
    font-family: Georgia;
    font-size: 80px;
    text-align: center;
    text-shadow: 10px 10px 10px #18f54f;
  }
  h3 {
    color: #ffffff;
    font-family: Georgia;
    font-size: 80px;
    text-align: center;
    margin-top: 0.05;
    margin-bottom:.05em;
    text-shadow: 10px 10px 10px #18f54f;
  }
  img {
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  src{
    align: center;
  }
  img:hover {
    transform: scaleX(-1);
  }
  .link-button {
    background-color: black;
    border: 4px solid #18f54f;
    margin-top:15px;
    max-width:160px;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 60%;
  }
  figcaption {
  font-family: Georgia;
  font-weight: 800;
  font-size: 20px;
  color: #18f54f;
  }
  #footer {
      height: 30px;
      position: absolute;
      color: #18f54f;
  }